body {
    background-color: #615756;
    margin: 0%;
    font-family: 'Poppins', sans-serif;

}

.square {
    width: 30%;
    background: #c7d5ed;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 25%;
    transition: background 0.5s;
    --webkit-transition: transition: background 0.5s;
    --moz-transition: transition: background 0.5s;

}


#container {
    margin: 30px auto;
    max-width: 600px;
    cursor: pointer;

}

h1 {
    color: aliceblue;
    line-height: 1.5;
    padding: 20px 0;
    text-align: center;
    background-color: #dd99bb;
    margin: 0%;
    font-weight: 400;
    text-transform: uppercase;

}

#stripe {
    background-color: aliceblue;
    height: 55px;
    text-align: center;
    color: black;
}

.selected {
    color: aliceblue;
    background: #dd99bb;
}

#colorDisplay {
    font-weight: 700;
    font-size: 150%;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #dd99bb;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.5s;
    --webkit-transition: transition: all 0.5s;
    --moz-transition: transition: all 0.5s;
    outline: none;
}

#message {
    display: inline-block;
    width: 20%;
    font-weight: 700;
    color: #615756;
    font-size: 25px;

}

button:hover {
    color: aliceblue;
    background: #dd99bb;
    cursor: pointer;

}

@media all and (max-width: 870px) {
    #message {
        font-size: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    #stripe {
        font-size: 80%;
    }

    #colorDisplay {
        font-size: 100%;
    }

    h1 {
        font-size: 200%;
    }

}